<ul class="nav flex-column navbar-expand-md">
	<li class="nav-item" id="doc_routing">
		<a class="nav-link" href="routing">Routing</a>
	</li>
	<li class="nav-item" id="doc_binding">
		<a class="nav-link" href="modelbinding">Model Binding</a>
	</li>
	<li class="nav-item" id="doc_models">
		<a class="nav-link" href="models">Models</a>
	</li>
	<li class="nav-item" id="doc_views">
		<a class="nav-link" href="views">Views</a>
	</li>
	<li class="nav-item" id="doc_controllers">
		<a class="nav-link" href="controllers">Controllers</a>
	</li>
</ul>