<ul class="nav flex-column navbar-expand-md">
	<li class="nav-item" id="exa_model">
		<a class="nav-link" href="models">Model</a>
	</li>
	<li class="nav-item" id="exa_view">
		<a class="nav-link" href="views">View</a>
	</li>
	<li class="nav-item" id="exa_controller">
		<a class="nav-link" href="controllers">Controller</a>
	</li>
	<li class="nav-item" id="exa_binding">
		<a class="nav-link" href="modelbinding">Model Binding</a>
	</li>
	<li class="nav-item" id="exa_form">
		<a class="nav-link" href="form">Form</a>
	</li>
</ul>