<header class="mb-5 pb-3">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="/php-mvc">
			<img src="/php-mvc/assets/img/android-chrome-192x192.png" class="img-fluid" style="max-width:48px; height:auto;">
		</a>
		<button class="navbar-toggler" type="button" 
			data-toggle="collapse" 
			data-target="#navbarsExampleDefault" 
			aria-controls="navbarsExampleDefault" 
			aria-expanded="false" 
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" id="home">
					<a class="nav-link" href="/php-mvc/home/index/"><i class="fas fa-home"></i></a>
				</li>
				
				<li class="nav-item" id="documentation">
					<a class="nav-link" href="/php-mvc/documentation/">Documentation</a>
				</li>
				
				<li class="nav-item" id="examples">
					<a class="nav-link" href="/php-mvc/examples/">Examples</a>
				</li>
				
				<li class="nav-item" id="about">
					<a class="nav-link" href="/php-mvc/home/about/">About</a>
				</li>
				
				<li class="nav-item" id="contact">
					<a class="nav-link" href="/php-mvc/home/contact/">Contact</a>
				</li>
				
				<li class="nav-item" id="download">
					<a class="nav-link" href="https://bitbucket.org/jrbdeveloper/php-mvc/"><i class="fab fa-bitbucket"></i> Download</a>
				</li>
			</ul>

			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
</header>