<div class="container ml-0 pl-0">
	<div class="row">
		<div class="col-3">
			<nav id="sidebar">
				<div class="sidebar-header"></div>
				<partial>shared:examples_menu</partial>
			</nav>		
		</div>
		
		<div class="col-9 pt-5 pl-5 pr-0 mr-0">
			<h3 class="text-muted">Controller</h3>
			<hr>
			
			<div class="card mb-3">
				<div class="card-body">
					Copy to come
				</div>
			</div>
			
<pre class="language-php line-numbers"><code class="language-php">class Examples extends Controller {
	public function __construct(){
		parent::__construct("examples");
	}
	
	public function Index(){
		$person = new Person();
		$person->FirstName = "John";
		$person->LastName = "Doe";
				
		$person->Addresses['Home'] = new Address();
		$person->Addresses['Home']->Street = "213 Home St.";
		$person->Addresses['Home']->City = "Portland";
		$person->Addresses['Home']->State = "OR";
		$person->Addresses['Home']->Zip = "97060";
		
		$person->Addresses['Work'] = new Address();
		$person->Addresses['Work']->Street = "456 Work St.";
		$person->Addresses['Work']->City = "Portland";
		$person->Addresses['Work']->State = "OR";
		$person->Addresses['Work']->Zip = "97060";
		
		$person->Wife = new Person();
		$person->Wife->FirstName = "Jane";
		$person->Wife->LastName = "Doe";
		
		$this->View("index", $person);
	}	
}</code></pre>
		
			<div class="row">
				<div class="col">
					<a href="modelbinding" class="btn btn-primary">Model Binding >></a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
(function(){ 
	app.activeSection = $("#examples");
	app.activePage = $("#exa_controller"); 
})();
</script>