<div class="container ml-0 pl-0">
	<div class="row">
		<div class="col-3">
			<nav id="sidebar">
				<div class="sidebar-header"></div>
				<partial>shared:examples_menu</partial>
			</nav>		
		</div>
		
		<div class="col-9 pt-5 pl-5 pr-0 mr-0">
			<h3 class="text-muted">Form</h3>
			<hr>
			
			<form action="FormPost" method="post">
				<div class="form-group">
					<label for="FirstName">First Name</label>
					<input type="text" class="form-control" id="FirstName" name="FirstName">
				</div>
				
				<div class="form-group">
					<label for="LastName">Last Name</label>
					<input type="text" class="form-control" id="LastName" name="LastName">
				</div>
				
				<div class="form-group">
					<label for="EmailAddress">Email address</label>
					<input type="email" class="form-control" id="EmailAddress" name="EmailAddress" aria-describedby="emailHelp">
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
				
				<div class="form-group">
					<label for="Password">Password</label>
					<input type="password" class="form-control" id="Password" name="Password">
				</div>
				
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>

<script>
(function(){ 
	app.activeSection = $("#examples");
	app.activePage = $("#exa_form"); 
})();
</script>