<div class="container ml-0 pl-0">
	<div class="row">
		<div class="col-3">
			<nav id="sidebar">
				<div class="sidebar-header"></div>
				<partial>shared:examples_menu</partial>
			</nav>		
		</div>
		
		<div class="col-9 pt-5 pl-5 pr-0 mr-0">
			<h3 class="text-muted">Form</h3>
			<hr>
			
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="FirstName" class="font-weight-bold">First Name</label>
								<div>{FirstName}</div>
							</div>

							<div class="form-group">
								<label for="LastName" class="font-weight-bold">Last Name</label>
								<div>{LastName}</div>
							</div>
						</div>
						
						<div class="col">
							<div class="form-group">
								<label class="font-weight-bold">Email address</label>
								<div>{EmailAddress}</div>
							</div>

							<div class="form-group">
								<label class="font-weight-bold">Password</label>
								<div>{Password}</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			
		</div>
	</div>
</div>

<script>
(function(){ 
	app.activeSection = $("#examples");
	app.activePage = $("#exa_form"); 
})();
</script>