<div class="container ml-0 pl-0">
	<div class="row">
		<div class="col-3">
			<nav id="sidebar">
				<div class="sidebar-header"></div>
				<partial>shared:examples_menu</partial>
			</nav>
		</div>
		
		<div class="col-9 pt-5 pl-5 pr-0 mr-0">
			<h3 class="text-muted">Examples</h3>
			<hr>
			
			<div class="card mb-3">
				<div class="card-body">
				This section includes code examples that combined will allow you to build the section you see below. 
				We begin by creating a simple object graph with a couple Models. Then we will proceed to creating the 
				Controller and View to present the section.
				</div>
			</div>
			
			<div class="card mb-3">
				<div class="card-body">
				
					<div class="row">
						<div class="col">
							<h4>Husband</h4>
							<p>{FirstName} {LastName}</p>
							
							<div class="row">
								<div class="col">
									<div class="font-weight-bold">Home Address</div>
									<div>{Addresses.Home.Street}</div>
									<div>{Addresses.Home.City}, {Addresses.Home.State}</div>
									<div>{Addresses.Home.Zip}</div>
								</div>
								
								<div class="col">
									<div class="font-weight-bold">Work Address</div>
									<div>{Addresses.Work.Street}</div>
									<div>{Addresses.Work.City}, {Addresses.Work.State}</div>
									<div>{Addresses.Work.Zip}</div>
								</div>
							</div>
						</div>
						
						<div class="col">
							<h4>Wife</h4>
							<p>{Wife.FirstName} {Wife.LastName}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
(function(){ app.activeSection = $("#examples"); })();
</script>