<div class="container ml-0 pl-0">
	<div class="row">
		<div class="col-3">
			<nav id="sidebar">
				<div class="sidebar-header"></div>
				<partial>shared:examples_menu</partial>
			</nav>		
		</div>
		
		<div class="col-9 pt-5 pl-5 pr-0 mr-0">
			<h3 class="text-muted">Model</h3>			
			<hr>
			
			<div class="card mb-3">
				<div class="card-body">
					For our example you will need two models. One for the Person details and another for the address information. 
					Later, in the Controller we'll see how they are applied. For now, create two files with the code below 
					respectivly and place them in the models folder. Be sure to name them based on the conventions required by the framework. 
					For instance, the Address model file would be named <i>address.model.php</i> and the Person model file would be named <i>person.model.php</i>
				</div>
			</div>
			
<pre class="language-php line-numbers"><code class="language-php">class Address extends Model {
	public $Street;
	public $City;
	public $State;
	public $Zip;
	
	public function __construct(){	
		parent::__construct();
	}
}</code></pre>			
			
<pre class="language-php line-numbers"><code class="language-php">class Person extends Model {
	public $FirstName;
	public $LastName;
	public $EmailAddress;
	public $Password;
	public $Wife;	
	public $Addresses;
	
	public function __construct(){	
		parent::__construct();
	}	
}</code></pre>
		
			<div class="row">
				<div class="col">
					<a href="views" class="btn btn-primary">View >></a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
(function(){ 
	app.activeSection = $("#examples");
	app.activePage = $("#exa_model"); 
})();
</script>