<div class="container ml-0 pl-0">
	<div class="row">
		<div class="col-3">
			<nav id="sidebar">
				<div class="sidebar-header"></div>
				<partial>shared:examples_menu</partial>
			</nav>		
		</div>
		
		<div class="col-9 pt-5 pl-5 pr-0 mr-0">
			<h3 class="text-muted">Model Binding</h3>
			<hr>
			
			<p></p>
		</div>
	</div>
</div>

<script>
(function(){ 
	app.activeSection = $("#examples");
	app.activePage = $("#exa_binding"); 
})();
</script>