<div class="container ml-0 pl-0">
	<div class="row">
		<div class="col-3">
			<nav id="sidebar">
				<div class="sidebar-header"></div>
				<partial>shared:examples_menu</partial>
			</nav>		
		</div>
		
		<div class="col-9 pt-5 pl-5 pr-0 mr-0">
			<h3 class="text-muted">View</h3>
			<hr>
			
			<div class="card mb-3">
				<div class="card-body">
					Copy to come
				</div>
			</div>
			
<pre data-src="views.html" class="language-html line-numbers"><code class="language-html">&lt;div class="card mb-3">
	&lt;div class="card-body">	
		&lt;div class="row">
			&lt;div class="col">
				&lt;h4>Husband&lt;/h4>
				&lt;p>{FirstName} {LastName}&lt;/p>
				
				&lt;div class="row">
					&lt;div class="col">
						&lt;div class="font-weight-bold"> Home Address&lt;/div>
						&lt;div>{Addresses.Home.Street}&lt;/div>
						&lt;div>{Addresses.Home.City}, {Addresses.Home.State}&lt;/div>
						&lt;div>{Addresses.Home.Zip}&lt;/div>
					&lt;/div>
					
					&lt;div class="col">
						&lt;div class="font-weight-bold"> Work Address&lt;/div>
						&lt;div>{Addresses.Work.Street}&lt;/div>
						&lt;div>{Addresses.Work.City}, {Addresses.Work.State}&lt;/div>
						&lt;div>{Addresses.Work.Zip}&lt;/div>
					&lt;/div>
				&lt;/div>
			&lt;/div>
			
			&lt;div class="col">
				&lt;h4>Wife&lt;/h4>
				&lt;p>{Wife.FirstName} {Wife.LastName}&lt;/p>
			&lt;/div>
		&lt;/div>
	&lt;/div>
&lt;/div></code></pre>
		
			<div class="row">
				<div class="col">
					<a href="controllers" class="btn btn-primary">Controller >></a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
(function(){ 
	app.activeSection = $("#examples");
	app.activePage = $("#exa_view"); 
})();
</script>