	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">Communication</h1>
			<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
		</div>
	</div>

	<div class="container">
		<div class="row mb-3">
			<div class="col">
				<div class="card">
					<div class="card-body">
						Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</div>
				</div>		
			</div>
		</div>
		
		<div class="row">
			<div class="col text-right">
				<a class="btn btn-sm btn-secondary" href="#" role="button">View details &raquo;</a>
			</div>
		</div>
	</div>
	
<script>
(function(){ app.activeSection = $("#contact"); })();
</script>