	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">Welcome</h1>
			<p>
			This is a really light MVC framework built using PHP. The framework accomidates the minimum requirements necessary to build web applications in the 
			shortest amount of time. Given that the code is on Bitbucket, if there is something missing from it that your project requires, you are 
			free to fork it and implement anything you need.
			</p>
		</div>
	</div>

	<div class="container">
		<div class="row mb-3">
			<div class="col">
				<div class="card">
					<div class="card-body">
						Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</div>
				</div>		
			</div>
		</div>
	</div>
	
<script>
(function(){ app.activeSection = $("#home"); })();
</script>