<div class="container ml-0 pl-0">
	<div class="row">
		<div class="col-3">
			<nav id="sidebar">
				<div class="sidebar-header"></div>
				<partial>shared:documentation_menu</partial>
			</nav>		
		</div>
		
		<div class="col-9 pt-5 pl-5 pr-0 mr-0">
			<h3 class="text-muted">Controllers</h3>
			<hr>
			
			<p>
				A controller is the link between a user and the system. It provides the user with input by arranging for relevant views to present 
				themselves in appropriate places on the screen. It provides means for user output by presenting the user with menus or other means 
				of giving commands and data. The controller receives such user output, translates it into the appropriate messages and pass these 
				messages on to one or more of the views.
			</p>
		</div>
	</div>
</div>

<script>
(function(){ 
	app.activeSection = $("#documentation");
	app.activePage = $("#doc_controllers"); 
})();
</script>