<div class="container ml-0 pl-0">
	<div class="row">
		<div class="col-3">
			<nav id="sidebar">
				<div class="sidebar-header"></div>
				<partial>shared:documentation_menu</partial>
			</nav>		
		</div>
		
		<div class="col-9 pt-5 pl-5 pr-0 mr-0">
			<h3 class="text-muted">Documentation</h3>
			<hr>
			
			<p>
				This framework is a really simple MVC framework and just like MVC this one is based on a set of conventions. 
				This section will be dedicated to describing all of the conventions used by this framework. 
				We will talk about file naming, as well as Class naming, what base classes to inherit from and 
				then also some helpful tips when creating your own code.
			</p>
			
			<p class="h6">File Namimg</p>
			<div class="container mb-3">
				<div class="row">
					<div class="col">When naming a controller file, follow this convention:</div>
					<div class="col">home.controller.php</div>
				</div>
				<div class="row">
					<div class="col">When naming a model file, follow this convention:</div>
					<div class="col">home.model.php</div>
				</div>
				<div class="row">
					<div class="col">When naming a view file, follow this convention:</div>
					<div class="col">index.html</div>
				</div>
			</div>			
			
			<p class="h6">Controller Class Namimg</p>
			<p></p>
			
			<p class="h6">Model Class Namimg</p>
			<p></p>
		</div>
	</div>
</div>

<script>
(function(){ app.activeSection = $("#documentation"); })();
</script>