<div class="container ml-0 pl-0">
	<div class="row">
		<div class="col-3">
			<nav id="sidebar">
				<div class="sidebar-header"></div>
				<partial>shared:documentation_menu</partial>
			</nav>	
		</div>
		
		<div class="col-9 pt-5 pl-5 pr-0 mr-0">
			<h3 class="text-muted">Models</h3>
			<hr>
			
			<p>
				Models represent knowledge. A model could be a single object (rather uninteresting), or it could be some structure of objects.
			</p>
			
			<p>
				There should be a one-to-one correspondence between the model and its parts on the one hand, and the represented world as 
				perceived by the owner of the model on the other hand.
			</p>
		</div>
	</div>
</div>

<script>
(function(){ 
	app.activeSection = $("#documentation");
	app.activePage = $("#doc_models"); 
})();
</script>