<div class="container ml-0 pl-0">
	<div class="row">
		<div class="col-3">
			<nav id="sidebar">
				<div class="sidebar-header"></div>
				<partial>shared:documentation_menu</partial>
			</nav>		
		</div>
		
		<div class="col-9 pt-5 pl-5 pr-0 mr-0">
			<h3 class="text-muted">Views</h3>
			<hr>
			
			<p>
				A view is a (visual) representation of its model. It would ordinarily highlight certain attributes of the model and suppress others. It is thus acting as a presentation filter.
			</p>
			
			<p>
				A view is attached to its model (or model part) and gets the data necessary for the presentation from the model by asking questions. 
				It may also update the model by sending appropriate messages. All these questions and messages have to be in the terminology of the model, 
				the view will therefore have to know the semantics of the attributes of the model it represents.
			</p>
		</div>
	</div>
</div>

<script>
(function(){ 
	app.activeSection = $("#documentation");
	app.activePage = $("#doc_views"); 
})();
</script>