﻿html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 5px solid #666666;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: fixed;
  /*left:250px;*/
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background:#cccccc;
  border-top: 1px solid #666666; 
}

.footer > .container {
  /*
  padding-right: 15px;
  padding-left: 15px;
  */
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
	position:fixed;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #dedede;
    color: #fff;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #666666;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
	color: #666666;
}
#sidebar ul li a:hover {
    color: #666666;
    background: #f8f9fa ;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #666666;
    background: #f8f9fa;
	border: solid 1px #cccccc;
	border-right: 0px;
	border-left: 0px;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}